/* Fonte personalizada */
body {
  font-family: 'Roboto', sans-serif;
}

/* Títulos das seções */
.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
  position: relative;
  padding-bottom: 0.5rem;
  text-align: left;
}

.section-title::after {
  content: '';
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ff7f50; /* Laranja */
  margin-top: 0.5rem;
}

/* Estilização do carrossel */
.carousel-item img {
  border-radius: 15px;
  border: 2px solid #ff7f50; /* Laranja */
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente escuro */
  padding: 20px;
  border-radius: 10px;
}

.carousel-caption h5 {
  font-size: 1.75rem; /* Aumenta o tamanho do texto */
  font-weight: bold; /* Negrito */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente escuro */
  border-radius: 50%;
  padding: 10px;
}

/* Estilização dos cards */
.card {
  border-radius: 15px;
  border: 2px solid #ff7f50; /* Laranja */
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  text-align: left;
}

/* Estilização da Seção de Informações do Responsável */
#responsavel .card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

#responsavel .card-text {
  font-size: 1rem;
}

/* Estilização da Imagem de Perfil */
.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #ff7f50; /* Laranja */
  object-fit: cover;
}

/* Ajuste da Descrição no Layout Responsivo */
.left-section {
  min-width: 250px; /* Define um tamanho mínimo para a parte esquerda */
  flex-shrink: 0; /* Impede que a parte esquerda encolha */
}

#responsavel .card-body.ml-3 {
  flex-grow: 1; /* Permite que a parte direita cresça para ocupar o espaço restante */
}

@media (max-width: 768px) {
  #responsavel .card {
    flex-direction: column;
    align-items: flex-start;
  }

  .left-section {
    min-width: 100%; /* Ajusta o tamanho mínimo para 100% em telas menores */
  }

  #responsavel .card-body.ml-3 {
    margin-left: 0;
    margin-top: 1rem;
  }
}

/* Estilização do Link do GitHub */
.github-link {
  color: #333;
  font-size: 1.5rem;
  transition: color 0.3s;
}

.github-link:hover {
  color: #ff7f50; /* Laranja */
}

/* Estilização da Caixa de Filtros */
.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  z-index: 1020;
}
