/* Fonte personalizada */
body {
  font-family: "Roboto", sans-serif;
}

/* Títulos das seções */
.section-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 0.5rem;
  position: relative;
  padding-bottom: 0.5rem;
  text-align: left;
}

.section-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #ff7f50; /* Laranja */
  margin-top: 0.5rem;
}

/* Estilização do carrossel */
.carousel-item img {
  border-radius: 15px;
  border: 2px solid #ff7f50; /* Laranja */
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente escuro */
  padding: 20px;
  border-radius: 10px;
}

.carousel-caption h5 {
  font-size: 1.75rem; /* Aumenta o tamanho do texto */
  font-weight: bold; /* Negrito */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente escuro */
  border-radius: 50%;
  padding: 10px;
}

/* Estilização dos cards */
.card {
  border-radius: 15px;
  border: 2px solid #ff7f50; /* Laranja */
}

.card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  text-align: left;
}
